.button {
    @include transition(all);
    
    display: inline-block;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    font-family: $sans-title;
    text-transform: uppercase;
    color: $font-color-dark;
    background-color: $bg-color-bright;
    cursor: pointer;
    user-select: none;

    &:hover { color: $font-color-alt; }
    &:active { color: $font-color-dark; }

    &:disabled {
        background-color: $grey-medium;
        color: $grey-dark;
    }
}

.personal-area-btn {
    @extend .nav__link;
    background-color: transparent;
    border: none;
}

.icon-btn {
    @extend %centered;
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    .icon {
        width: 80%;
        height: 80%;
    }
}

.slider-btn {

    @include transition(opacity);
    @extend %centered;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
        content: "";
        border-style: solid;
        border-width: 7px;
        border-color: transparent;
    }

    &:hover { opacity: .75; }

    &.prev { padding-right: 10px; }
    &.next {padding-left: 10px;}

    &.prev::before {  border-right-color: $font-color-main; }  
    &.next::before { border-left-color: $font-color-main; }
    &.light.prev::before {  border-right-color: $font-color-alt; }  
    &.light.next::before { border-left-color: $font-color-alt; }

    &.disabled { opacity: .1; }

    .icon {
        // stroke: $color4;
    }

}