%form-elem {
    display: inline-block;
    width: 100%;
    padding: 17px;
    border: 1px solid $grey-light;
}

.form-input {
    @extend %form-elem;
    height: 50px;
}

.form-textarea {
    @extend %form-elem;
    min-height: 120px;
    resize: none;
}