%form-elem {
    display: inline-block;
    width: 100%;
    padding: 17px;
    border: 1px solid $grey-light;
}

.form-input {
    @extend %form-elem;
    height: 50px;

    transition: all .15;

    &.error {
        border-color: $font-color-error;
        background-color: $bg-color-error;
        box-shadow: inset 0 0 5px rgba($font-color-error, .8);
    }
}

.form-textarea {
    @extend %form-elem;
    min-height: 120px;
    resize: none;
}