.page-image {

    height: 540px;
    margin-bottom: 60px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include screen(1199) {
        height: 520px;
    }
    @include screen(991) {
        height: 500px;
    }
    @include screen(767) {
        height: 480px;
    }
}