.section {

    margin-bottom: 60px;

    @include screen(768) {
        margin-bottom: 50px;
    }
    @include screen(585) {
        margin-bottom: 40px;
    }

    &__header {
        position: relative;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 18px;
        font-family: $sans-title;
        text-transform: uppercase;
    }

    &__link-details {
        display: inline-block;
        font-size: 18px;
        font-family: $sans-title;
        text-transform: uppercase;
    }
    
}
