.sign-in {

    &__wrapper {
        max-width: 420px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 18px;
        text-transform: uppercase;
        font-family: $sans-title;
        text-align: center;
        color: $font-color-main;
    }

    &__form {
        margin-bottom: 20px;

        & > * {
            margin-bottom: 20px;
        }

        &-row {
            @include flex(row, sb, fs);
        }
    }

}