.wrapper {

    $wrapper-width: $max-width;

    max-width: $wrapper-width;
    margin: 0 auto;

    @media (max-width: 1199px) {
        max-width: 950px;
    }
    @media (max-width: 991px) {
        max-width: 900px;
    }
}