.footer {

    @extend %outer;
    
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $bg-color-alt;
    color: $font-color-alt;

    &__wrapper {
        @include flex(row,fs,s,wrap);

    }

    &__caption {
        margin-bottom: 25px;
        font-weight: 300;
        white-space: nowrap;
    }
    
    &__title {
        font-size: 24px;
        font-family: $sans-title;
        text-transform: uppercase;
    }

    &__content {
        width: 300px;

        @include screen(768) {
            width: 100%;
        }
    }

    &__contacts {

        @include flex(col);

        @include screen(768) {
            flex-direction: row;
            // justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }

        &-item {
            @include flex(row);
            max-width: 230px;

            @include screen(768) {
                margin-right: 40px;
                &:nth-child(2) {
                    order: 2;
                    max-width: 100%;
                }
            }
        }

        &-data {
            margin-bottom: 10px;
            padding-left: 8px;
            line-height: 150%;
        }

        &-link {
            @include transition(opacity);
            display: block;
            margin-bottom: 5px;
            white-space: nowrap;

            &:hover {
                opacity: .75;
            }
        }
    }

    &__map {
        width: auto;
        flex-grow: 1;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include screen(768) {
            width: 100%;
            height: 220px;
            margin-left: -20px;
            margin-right: -20px;
        }
    }
}