.header {

    @extend %outer;

    height: 90px;
    padding-top: 20px;
    border-bottom: 1px solid $color2;
    color: $font-color-alt;
    background-color: $bg-color-alt;

    &__wrapper {
        @include flex(row,sb,fs);
    }

    &__caption {
        margin-right: 40px;
        font-weight: 300;
        white-space: nowrap;
    }
    
    &__title {
        font-size: 24px;
        font-family: $sans-title;
        text-transform: uppercase;
    }

    &__contacts {
        @include flex(row, fe);
        flex-grow: 1;

        @include screen(991) {
            display: none;
        }

        &-item {
            @include flex(row);
            max-width: 270px;

            &:not(:last-child) {
                padding-right: 40px;

                @include screen(1199) {    
                    &:not(:last-child) {
                        padding-right: 25px;
                    }
                }
            }

        }

        &-data {
            padding-left: 8px;
            line-height: 150%;
        }

        &-link {
            @include transition(opacity);
            display: block;
            padding-bottom: 10px;
            white-space: nowrap;

            &:hover {
                opacity: .75;
            }
        }
    }

    &__search {
        position: relative;
        margin-left: 60px;

        @include screen(1199) {
            margin-left: 25px;
        }

        &-icon {
            @extend %centered;
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            padding-right: 8px;

            .icon {
                fill: $bg-color-alt;
            }
        }

        &-input {
            width: 200px;
            height: 40px;
            padding-right: 20px;
            padding-left: 20px;
            border: none;
            border-radius: 15px;
    
            &:focus {
                border: 2px solid $color8;
                outline: none;
            }

            @include screen(991) {
                width: 250px;
            }
        }
    }

    &__personal-area-btn {
        display: none;
        align-self: center;
        @include screen(991) {
            @include flex(col,c)
        }
        @include screen(991) {
            display: none;
        }
    }

    &__burger {
        position: relative;
        align-self: center;
        display: none;
        width: 30px;
        // height: 30px;
        // padding: 6px 3px;

        @include screen(768) {
            @include flex(col,c);
        }

        &-elem {
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 0;
            z-index: 10;
            background-color: $bg-color-main;
            transform-origin: center;
            transition: all .3s;
            
            &:nth-child(1) {
                transform-origin: left center;
                transform: scaleX(1) translateY(-9px);
            }
            &:nth-child(4) {
                transform-origin: right center;
                transform: scaleX(1) translateY(9px);
            }
        }

        &.active &-elem {
            &:nth-child(1) {
                transform: scaleX(0) translateY(-9px);
            }
            &:nth-child(2) {
                transform: rotateZ(45deg);
            }
            &:nth-child(3) {
                transform: rotateZ(-45deg);
            }
            &:nth-child(4) {
                transform: scaleX(0) translateY(9px);
            }
        }
    }

}