@import "../components/form-elems.scss";

.feedback {

    &__form {

        @include flex(col, fs, fe);

        @include screen(767) {
            align-items: flex-start;
        }

        & > * {  margin-bottom: 20px; }
    }

    &__errors {
        color: $font-color-error;

        & > * {
            margin-bottom: 10px;
            text-align: right;

            @include screen(767) {
                text-align: left;
            }
        }
    }

    .button { width: 160px; }

}