.projects-slider {

    &__controls {
        @include flex;
        position: absolute;
        right: 0;
        bottom: 0px;
    }

    &__slide.swiper-slide {
        height: 255px;
        background-color: $grey-light;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include screen(575) {
            height: 210px;
        }
    }

    &__slide-caption {
        position: absolute;
        bottom: 0;
        padding: 10px;
        font-size: 20px;
        color: $font-color-alt;
    }
}