.FRONT_NAVIGATION(
    style=`
        text-align: center;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        `
    )
    a(href="/", style="padding: 20px") MAIN
    a(href="/pages.html", style="padding: 20px") PAGES
    a(href="/catalog.html", style="padding: 20px") CATALOG
    a(href="/for-clients.html", style="padding: 20px") FOR-CLIENTS
    a(href="/partners.html", style="padding: 20px") PARTNERS