section.section.about
    .section__header
        h1.section__title о компании
        .about__content.custom-text 
            p Компания «Калипсо» работает в сфере строительства, в частности выполняет электромонтажные работы и монтаж слаботочных систем различных объектов с 2007 года. За годы работы реализованы проекты разного уровня и назначения общей площадью свыше 500000 м2.
            p Слаженная работа высококвалифицированных инженеров, профессиональных монтажников совместно с отделами снабжения и ПТО обеспечивают высокое качество и выполнение монтажных работ в договорные сроки, что в свою очередь позволяет снизить стоимость реализации проекта.
        a.section__link-details(href="#") подробнее