extends ../layout/layout.pug

block content
    main.main
        include ../sections/main-slider.pug
        include ../sections/services.pug
        include ../sections/advantages.pug
        include ../sections/projects-slider.pug

        .section-group
            .section-group__wrapper.wrapper
                .section-group__content
                    .section-group__section
                        include ../sections/about.pug
                    .section-group__section
                        #feedback
                    



