extends ../layout/layout.pug

block content
    main.main
        include ../sections/main-slider.pug
        include ../sections/services.pug
        include ../sections/advantages.pug
        include ../sections/projects-slider.pug



