extends ../layout/layout.pug

block content
    main.pages
        .pages__image.page-image(style=`background-image: url(${require('../../images/page-img.jpg')}`)
        .pages__wrapper.wrapper
            h1.pages__title.page-title о компании
            .pages__content.custom-text
                p ООО «Калипсо», созданное в 2007 году, является предприятием, выполняющим полный комплекс электромонтажных работ, а также электросетевой организацией.
                p Как электромонтажная организация ООО «Калипсо» выполняет следующие работы:
                p Монтаж наружных и внутренних электрических сетей;
                p Строительство, ремонт воздушных и кабельных линий до 10 кВ включительно;
                p Пусконаладочные работы, испытание оборудования повышенным напряжением, измерение параметров электроустановок;
                p Обслуживание электроустановок(включая оперативное обслуживание);
                p Выдача технических условий на технологическое присоединение электроустановки заказчика к электрическим сетям;
                p Подготовка всех необходимых документов для заключения договора энергоснабжения и включения электроустановки(выдача акта допуска прибора учета в эксплатацию, актов разграничения балансовой принадлежности электрических сетей и эксплуатационной ответственности сторон);
                p Разработка проектов.
                p Предприятие имеет в своем составе проектный, сметный отделы, собственную электротехническую лабораторию, квалифицированный персонал монтажников и ИРТ, имеющих многолетний опыт работы и все необходимые допуски для работы в электрических сетях, а также располагает всем необходимым оборудованием и транспортом.
                p Как электросетевая организация ООО «Калипсо» имеет на балансе 43 трансформаторные подстанции, свыше 100 км воздушных линий, свыше 25 км кабельных линий электропередач. Указанное оборудование находится в г. Архангельске, г. Северодвинске и Приморском районе.
                p Для обслуживания создана круглосуточная диспетчерская служба и оперативно-выездные бригады.
                p ООО «Калипсо» является членом СРО НП «Союз профессиональных строителей».
                p Свидетельство СРО о допуске на выполнение проектных работ: № 0026.02-2011-2901178201-П-111.
                p Свидетельство СРО о допуске на выполнение проектных работ: № 0046.03-2010-2901121163-C-153.
            
            a.pages__feedback-link.button(href="/feedback-page.html") оставить заявку

