.account {

    flex-grow: 1;
    width: 100%;
    margin: 0 -20px;

    

    @include flex(row,s,s);

    &__sidebar {

        @include flex(col,sb);
        width: 380px;
        padding: 0 20px;
    }

    &__content {
        @include flex(col,s,s);
        flex-grow: 1;
        position: relative;
        width: auto;
        padding: 0 20px;


        outline: 1px dotted grey;
        & > * {
            outline: 1px dotted grey;
        }
        
        &-inner {
            flex-grow: 1;
        }
    }
}