.sign-up {

    &__wrapper {
        padding: 0 20px;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 18px;
        text-transform: uppercase;
        font-family: $sans-title;
        color: $font-color-main;
    }

    &__form {

        @include flex(row,fs,fs,wrap);

        margin-left: -20px;
        margin-right: -20px;

        .form-input {
            max-width: 380px;
            margin-bottom: 20px;
        }

        &-group {
            padding-right: 20px;
            padding-left: 20px;
        }

        &-group:nth-child(1),
        &-group:nth-child(2),
        &-group:nth-child(3),
        &-group:nth-child(4) {
            width: 50%;
            order: 1;
            @include screen(767) {
                width: 100%;
            }
        }
        &-group:nth-child(5) {
            order: 4;
        }
        &-group:nth-child(3) {
            @include screen(767) {
                order: 3;
            }
        }
        &-group:nth-child(4) {
            @include screen(767) {
                order: 2;
            }
        }

        &-group-title {
            margin-bottom: 20px;
            font-weight: 300;
        }

        &-row {
            @include flex(row,fs,fs);
            @include screen(767) {
                flex-direction: column;
            }
        }
    }

    &__category {
        @include flex(row,fs,c);
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    &__agree {
        @include flex(row,fs,c);
        margin-top: 40px;
        margin-bottom: 25px;
        cursor: pointer;
    }

    &__link {
        text-decoration: underline;
    }

    &__input-wrapper {
        position: relative;
    }

    .required {
        position: relative;
        display: inline-block;
        height: 100%;
        
        &::after {
            content: "*";
            position: absolute;
            left: 0;
            top: -40px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 20px;
            color: $font-color-bright;
        }
    }
    .errors {
        margin-bottom: 20px;
    }
}