.user-nav {

    text-transform: uppercase;
    
    & > * {
        margin-bottom: 20px;
        font-family: $sans-title;    
        font-size: 18px;
        user-select: none;
    }

    &__item {
        @include transition(all);
        cursor: pointer;

        &.active {
            color: $font-color-bright;
        }

        &:not(.active):hover {
            opacity: .6;
        }
    }
    
}