@import "globals/";

@import "components/custom-text";
@import "components/page-title";
@import "components/page-image";


.pages {

    padding-bottom: 60px;
    line-height: 150%;

    &__content {
        max-width: 680px;
    }
}