@import 
    "fonts",
    "var",
    "mixins",
    "extensions",
    "reset";

//global components and modules
@import "modules/header";
@import "modules/nav";
@import "modules/footer";
@import "modules/footer-nav";

@import "../components/page-title";
@import "../components/search-input";
@import "../components/buttons";
@import "../components/pager";
@import "../components/wrapper";
@import "../components/form-elems";
@import "../components/form-elems";
@import "../components/vue-transitions";

@import "modules/personal-area";
@import "../components/personal-area/sign-in";
@import "../components/personal-area/sign-up";
@import "../components/personal-area/account";
@import "../components/personal-area/user-data";
@import "../components/personal-area/user-nav";
@import "../components/personal-area/download-docs";



* {
    font-family: $main-font-family;
}

body {
    @include flex(col);
    position: relative;
    min-height: 100vh;
    // top: 0 !important;  
    font-size: 14px;
    color: $font-color-main;

    &.no-scroll {
        overflow: hidden;
    }
    
}

main {
    flex-grow: 1;
    background-color: $bg-color;
}

.icon {
    fill: $font-color-alt;
    stroke: transparent;
    width: 25px;
    height: 25px;
}

